body{
	background-color: #eeeeee;
}

.clear{
	float:none;
	clear: both;
}

.wholepageloader{	
	position: fixed;
    height: 100%;
    width: 100%;
    z-index: 99999;
    text-align: center;
    padding-top: 330px;
    color: #ddd;
    overflow: hidden;
    background: url("../img/loader.gif") no-repeat scroll center center #111;
    opacity: 0.8;
}

div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }